<head>
    <meta charset="utf-8">
    <title>Download</title>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//coincidimos.com/matomo/matomo/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
<script type="text/javascript">
    window.setTimeout(function(){

        window.location = "https://gitlab.com/astraltrip/astraltrip-website/-/raw/master/static/releases/astraltrip-0.1.0.AppImage";

    },1000);
</script>
</head>
