{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- =============================
      Start Menu
    =============================== -->
<section class="menu menu-fix" id="menu">
  <nav>
    <!-- desktop-menu -->
    <div class="menu-container">
      <div class="desktop-menu-logo"><a onclick="$('html, body').animate({scrollTop: 0  }, 1000, 'easeInOutExpo')" style="cursor: pointer"><img class="img-fluid"

                                                                                                                                                src="{{ .Site.Params.logo_light | absURL }}" alt="{{ .Site.Title }}" id="desktop-logo"></a>
        </div>
      <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
        {{ range .Site.Menus.main }}
        <li class="menu-item hvr-underline-from-left {{ .Weight }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <!-- /desktop-menu -->

      <!-- mobile-menu -->
      <div class="mobile-menu">
        <a class="menu-link">
          <div class="mobile-menu-nav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <div class="mobile-menu-logo"><a href="{{.Site.BaseURL | relLangURL }}"><img class="img-fluid"
              src="{{ .Site.Params.logo_dark | absURL }}" alt="{{ .Site.Title }}"></a>
        </div>
        <div class="menu-slider">
          <nav>
            <ul class="mobile-menu-list">
              {{ range .Site.Menus.main }}
              <li class="hvr-shutter-out-vertical mobile-menu-item 1"><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          
            <ul class="mobile-menu-icons list-inline">
              {{ range .Site.Params.social }}
              <li><a href="{{ .link | safeURL }}"><i class="fab {{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</section>
<!-- =============================
      End Menu
    =============================== -->

<!-- =============================
      Start Header
    =============================== -->
<section class="header" id="download">
  {{ if .Site.Params.enable_logo }}
  <div class="logo">
    <img class="img-fluid" src="{{ .Site.Params.logo_light | relURL }}" alt="{{ .Site.Title }}">
  </div>
  {{ end }}
  {{ with $data.homepage.hero }}
  <div class="owl-carousel owl-full-width owl-theme" id="ddddccscbackground-slide">
    {{ range .slider_image }}
    <div class="slider" style="text-align: center">
      <video class="img-fluid" id="mainvideo" autoplay muted loop width="1300">
        <source src="{{ . | absURL }}" type="video/mp4" >
      </video>


    </div>
    {{ end }}
  </div>
  <div class="container">
    <div class="row content">
      <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 head-container">
        <div class="head-holder">
          <h1 class="introduction">{{ .title | markdownify | emojify }}</h1>
          <div class="animated-text">
            <strong class="cd-headline clip">
              <span class="cd-words-wrapper">
                {{ range $index, $elements:= .occupations }}
                <b {{ if eq $index 0 }} class="is-visible" {{ end }}>{{ . }}</b>
                {{ end }}
              </span>
            </strong>
          </div>
          {{ if .button.enable }}
          {{ with .button }}
          <a class="hireMe matomo_ignore" onClick="_paq.push(['setCustomUrl', '/dowwnload?0.2.0']);  _paq.push(['setDocumentTitle', '0.2.0']); _paq.push(['trackPageView']);" target="_blank" href="{{ .link }}">{{ .label }}</a><br>
          <small><a href="browserVersion">or try it online</a> (Better with chrome/chromium)</small>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if $data.homepage.fullscreen_nav.enable }}
  <div class="navigation-icon">
    <input id="burger" type="checkbox" />
    <label for="burger" class="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="fullscreen-nav-container"
    style="background-image: url('{{ $data.homepage.fullscreen_nav.bg_image | absURL }}');">
    <div class="container-fluid">
      <div class="full-nav-container row">
        <div class="full-nav-holder">
          <div class="full-nav-content">
            <div class="name">
              {{ with $data.homepage.fullscreen_nav.first_name }}<div class="first-name">{{ . }}</div>{{ end }}
              {{ with $data.homepage.fullscreen_nav.last_name }}<div class="last-name">{{ . }}</div>{{ end }}
            </div>
            <div class="fulscreen-nav">
              <ul class="list-inline fullscreen-nav-holder">
                {{ range .Site.Menus.main }}
                <li><a class="text-uppercase" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </div>
            <div class="full-nav-icon-holder">
              <ul class="full-nav-icons list-inline">
                {{ range .Site.Params.social }}
                <li><a href="{{ .link | safeURL }}"><i class="fab {{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<!-- =============================
       End Header
    =============================== -->

<!-- =============================
      Start Services
    =============================== -->
<section class="services" id="service">
  {{ if $data.homepage.service.enable }}
  {{ with $data.homepage.service }}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto col-sm-12">
        <div class="wow fadeInUp" data-wow-duration="1.5s">
          <div class="services-heading">
            <h1>{{ .title }}</h1>

            <p>{{ .main_description | markdownify }}</p>
            <div class="bar"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}


</section>
<!-- =============================
       End Services
    =============================== -->

<!-- =============================
       Start About Me
    =============================== -->
<section class="about-me" id="features">
  <div class="container-fluid">
    {{ if $data.homepage.about.enable }}
    {{ with $data.homepage.about }}
    <div class="row about-me-holder">
      {{ range .feature_list }}
      <div class="col-lg-1 col-md-1 col-sm-1 about-me-text d-flex" style="margin-top:50px"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 about-me-text d-flex" style="margin-top:50px">
        {{if .video_l}}
        {{ with .video_l }}
        <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
          <video class="img-fluid" autoplay muted loop width="550" style="float: right; margin-right: 1em">
            <source src="{{ . | absURL }}" type="video/mp4" >
          </video>
        </div>
        {{ end }}
        {{ end }}
        {{if .image_l}}
        {{ with .image_l }}
        <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
            <img src="{{ . | absURL }}" >
        </div>
        {{ end }}
        {{ end }}
        <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
          <h1>{{ .title | safeHTML }}</h1>
          <p>{{ .content | safeHTML }}</p>
          {{ if .button.enable }}
          {{ with .button }}

          <a href="{{ .link | absURL }}" class="download-cv" {{ if .download }}download{{ if .filename }}="{{ .filename }}" {{ end }} {{ end }}> {{ .label | safeHTML }} &nbsp; &nbsp; &nbsp;</a>
          {{ end }}
          {{ end }}
        </div>
        {{if .video_r}}
          {{ with .video_r }}
          <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
            <video class="img-fluid" autoplay muted loop width="550" >
              <source src="{{ . | absURL }}" type="video/mp4" >
            </video>
          </div>
          {{ end }}
        {{ end }}
        {{if .image_r}}
        {{ with .image_r }}
        <div class="col-lg-6 col-sm-6 col-9 about-me-images wow fadeInUp" data-wow-duration="1.5s">
          <img src="{{ . | absURL }}" >
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 about-me-text d-flex" style="margin-top:50px"></div>
      {{end}}
      {{ end }}


    </div>
    {{ end }}
    <div class="row experience-skill" id="contribute">
      <div class="col-lg-1 col-md-1 col-sm-1 about-me-text d-flex" style="margin-top:50px"></div>
      <div class="col-lg-8 col-sm-8 col-8 experience wow fadeInUp about-me-text" data-wow-duration="1.5s">
        <h3>Sadly, not everything is true (yet).</h3>
        <p> This is developed by a single guy (me) and is in a early development stage and it needs lot of work to became a real professional IDE. Even when it seems pretty stable, it needs a lot of performance and
          usability improvements, and this take time, so I'm asking the community to support me on<a target="_blank" href="https://www.patreon.com/astraltrip"> Patreon </a>(the less I work, the more I code :D ).
        </p>
        <p>
          I know that is difficult to live from altruist donations without being a social-media star so, in exchange for being my patron, you will get access to the exclusive AstralTrip community where
          you can access early to exclusive pre-release builds with all new features and you will have vote right for next steps in the development roadmap . In addition, 20% of each donation will go to support the open
          software libraries I used.
        </p>
        <!--p>If your prefer to help me in altruist mode, you can send me some satoshis:</p>
        <p>bitcoin address</p>
        <p>It will help a lot. Thank you!</p-->
        <p><strong>Currently the development is possible thanks to my lovely Patrons: </strong></p>
        <p>Not a single one yet...</p>
        <p><strong>AstralTrip is proudly sponsored by: </strong></p>
        <img class="img-fluid" src="images/sponsors.gif" alt="about-me">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 need-service2 fadeInUp d-flex" style="margin-top:150px; background: white; height: 0;">
        <a target="_blank" href="https://www.patreon.com/astraltrip"><img style="z-index:23" src="images/Patreon-Button.png"></a>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-1 about-me-text d-flex" style="margin-top:50px;height: 0"></div>
      <div class="col-lg-1 col-md-1 col-sm-1 about-me-text d-flex" style="margin-top:50px"></div>
      <div class="col-lg-8 col-sm-8 col-8 experience wow fadeInUp" data-wow-duration="1.5s">

      </div>
    </div>



  {{ if $data.homepage.funfacts.enable }}
  {{ with $data.homepage.funfacts }}
  <div class="row experience-skill" id="future">
    <div class="container-fluid text-center">
      <div class="row portfolio-holder text-left">
    <div class="col-12 text-center">
      <h1 class="wow fadeInUp" data-wow-duration="1.5s">Future</h1>
    </div>
      </div></div>
    <div class="col-lg-1 col-md-1 col-sm-1 about-me-text d-flex" style="margin-top:50px"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 fun-facts wow fadeInUp" data-wow-duration="1.5s" style="align-items: start">
      {{ range .funfacts_list }}
      <div class="fun-fact-holder">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .name }}">
        <p class="fact-counter count">{{ .count }}</p>
        <p>{{ .name }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}

  {{ if $data.homepage.call_to_action.enable }}
  {{ with $data.homepage.call_to_action }}
  <div class="need-service wow fadeInUp" id=" "data-wow-duration="1.5s"
       style="background-image: url('{{ .bg_image | absURL }}');">
    <h1>{{ .title | markdownify }}</h1>
    {{ with .content }} <p class="text-white">{{ . | markdownify }}</p> {{ end }}
    {{ if .button.enable }}
    {{ with .button }}
    <a target="_blank" style="background-color: rgb(255, 66, 77); color: white;" href="{{ .link }}">{{ .label }}</a>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
  </div>
</section>
<!-- =============================
      End About Me
    =============================== -->



<!-- =============================
       Start Portfolio
    =============================== -->
{{ if $data.homepage.portfolio.enable }}
{{ with $data.homepage.portfolio }}
<section class="portfolio" id="news">
  <div class="container-fluid text-center">
    <div class="row portfolio-holder text-left">
      <div class="col-12 text-center">
        <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .title }}</h1>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
        <div class="row filtr-container wow fadeInUp list" data-wow-duration="1.5s">
          {{ range .portfolio_list }}
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item" data-category="{{ .category | urlize }}">
            <div class="item-holder">
              <a href="{{ .image | absURL }}" title="{{ .name | safeHTML }}">
                  <img src="{{ .image | absURL }}" alt="{{ .name | safeHTML }}">
                <div class="item-caption">
                  <h2>{{ .name | safeHTML }}</h2>
                  <p>{{ .category | title }}</p>
                  <div class="item-created">{{ .date }}</div>
                </div>
              </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- =============================
       End Portfolio
    =============================== -->

<!-- =============================
       Start Testimonials
    =============================== -->
{{ if $data.homepage.testimonial.enable }}
{{ with $data.homepage.testimonial }}
<section class="testimonials" id="testimonial">
  <div class="container">
    <div class="row">
      <div class="testimonials-container col-lg-8 offset-lg-2">
        <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .title }}</h1>
        <div class="owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.5s">
          {{ range .testimonial_slider }}
          <div class="single-testimonial">
            <div class="testimonial-holder">
              <h2>{{ .name }}</h2>
              <span>{{ .designation | markdownify }}</span>
              <p><i class="fa fa-quote-left"></i> {{ .content | markdownify }} <i class="fa fa-quote-right"></i></p>
            </div>
          </div>
          {{ end }}
        </div>
        {{ end }}
        {{ end }}


      </div>
    </div>
  </div>
</section>

<!-- =============================
       End Testimonials
    =============================== -->

<!-- =============================
      Start Services
    =============================== -->
<section class="services" id="service2" style="padding: 0">
  {{ if $data.homepage.service.enable }}
  {{ with $data.homepage.service }}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto col-sm-12">
        <div class="wow fadeInUp" data-wow-duration="1.5s">
          <div class="services-heading">
            <h1>This would not be possible without this awesome open software projects:</h1>

            <div class="bar"></div>


            <div class="row">
              {{ range .service_list }}
              <div class="col-lg-6 col-sm-6">
                <div class="service-label">
                    <span class="fas fa-stack fa-2x" style="font-size: 2em; color: #6f6f6f;">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-xs fa-stack-1x fa-{{ .icon }} fa-inverse"></i>
                    </span>
                  <a href="{{ .link }}"><h4 style="margin-top:10px">{{ .name | markdownify }}</h4></a>
                </div>
                <p class="service-description">{{ .description | markdownify }}</p>
              </div>
              {{ end }}
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</section>
<!-- =============================
       End Services
    =============================== -->
{{ if $data.homepage.contact.enable }}
<section class="contact" id="contact">
    <p style="float: left; margin-left: 50px;"> This website does <strong>NOT</strong> use cookies.</p>
  <p style="float: right; margin-right: 50px;">website generated with <a href="https://gohugo.io/">hugo</a> - theme by <a href="https://somrat.netlify.app/">somrat</a></p>
</section>
{{ end }}


{{ end }}


