.blocklyPathDark{
  display: none;
}

svg.blocklySvg{
    background:
            linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
            linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
            linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
            linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
            linear-gradient(transparent 3px, #535353 3px, #535353 78px, transparent 78px),
            linear-gradient(-90deg, #343434 1px, transparent 1px),
            linear-gradient(-90deg, transparent 3px, #535353 3px, #535353 78px, transparent 78px),
            linear-gradient(#343434 1px, transparent 1px),
            #535353 !important;
    background-size:
            4px 4px,
            4px 4px,
            80px 80px,
            80px 80px,
            80px 80px,
            80px 80px,
            80px 80px,
            80px 80px !important;
}

.inputNumber{
    text-align: center;
    font-size: 10px;
    padding: 1px;
    width: 10%;
    margin: 0px 10px 0px 0px;
    outline: none;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: dotted;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: rgb(184, 184, 184);
    border-left-color: initial;
    border-image: initial;
    background: none;
    color: rgb(184, 184, 184);
}

.blocklyPathLight{
  display: none;
}

canvas#pjs{
  height: 100%;width: 100%;
}

div.new_line_inside_block{
  display:block;
  }

svg.blocklySvg{background:#63b8e8;background:linear-gradient(180deg,#fff,#ffe);box-shadow:inset 4px -4px 4px -4px rgba(0,0,0,.75)}
svg.blocklySvg-editor{background:#127cab;background:linear-gradient(180deg,#fff,#ffe);box-shadow:inset 4px -4px 4px -4px rgba(0,0,0,.75)}

html,
body {
  height: 100%;
  margin: 0
}


.ui-tabs .ui-tabs-nav{
  padding: 0em 1.3em;
}

.ui-widget-header{
  border: 0px;
}

.box .row {
  border: 1px solid grey;
}

.ui-tabs-panel {
    padding: 0em 1em;
}

#createDiv {
    height: 100%;
    padding: 0%;
    width: 50%;
}

#previewDiv {
    border: 5px solid #eee;
    height: 100%;
    margin-right: 0%;
    width: 48%;
}

div.timelineDiv{
    position: absolute;
    top: -60px;
}

div.separadorHorizontal{
    z-index: 1;
}

div.separadorVertical{
    z-index: 1;
}

option { color: #ffffff; background-color: #000000; }

label.tune_label{
    width: 20%;
}
div.tune_div{
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
}
input.tune_slider{

    width: 100%;
}
div.tuneSliderWrapper{
    padding-top: 5px;
    width: 40%;
    display: inline-block;
    text-align: center;
}

div.vis-left{
    min-width: 130px;
}

div#botoneraPlay{
    text-align: center;
    position: absolute;
    bottom: 5px;
}

.vis-background{
    background-color: #ddd;
}

.vis-center{
    background-color: rgb(54,54,54) ;
}
.vis-item{
    background-color: #cccccc;
    border-color: #222222;
}
.vis-group{
    background: repeating-linear-gradient(
            to right,
            rgb(84,84,84) ,
            rgb(84,84,84) 50px,
            rgb(84,84,84) 50px,
            rgb(54,54,54) 51px,
            rgb(84,84,84) 52px,
            rgb(84,84,84) 100px,
            rgb(24,24,24) 101px
    );
}



.vis-grid{
    border-color: rgb(10,10,10) ;
    z-index:0
}




.vis-top {
    background-color: #ddd;
}
.vis-left {
    background-color: #ddd;
}


.vis-item-content {
    transform: translateX(0px) !important;
}

.valueSlider{
    padding: 0;
    font-size: 11px;
}

.label-text{
    color: black;
    font-size: 130%;
}